@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
}

$enable-shadows: true;
$primary: #1dc66c;
$dark: #505050;

.decilo-background {
  background: black;
}

.footer {
  background-color: black;
}

.footer-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-link-list-item {
  padding: 0;
  margin: 0;
}

.footer-link {
}

.footer-link:link {
  text-decoration: none;
  color: white;
}

.footer-link:visited {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: none;
  color: #494949;
}

.footer-link:active {
  text-decoration: none;
  color: #505050;
}

@import "~bootstrap/scss/bootstrap";
